  <link name="{{dir}}Gear">
    <visual>
      <geometry>
        <cylinder length="{{gear_length}}" radius="{{gear_rad}}"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5708 0"/>
      <material name="green"/>
    </visual>
    <inertial>
      <mass value=".00001" />
      <inertia ixx="0.0000001" ixy="0.0" ixz="0.0" iyy="0.0000001" iyz="0.0" izz="0.0000001"/>
    </inertial>
  </link>
  
  <joint name="{{dir}}GearToBox" type="continuous">
    <origin xyz="{{gear_x_offset}} 0 {{gear_z_offset}}" />
    <parent link="body"/>
    <child link="{{dir}}Gear"/>
    <axis xyz="1 0 0"/>
  </joint>