<?xml version="1.0"?>
<robot name="beaker">

  {{> Colors}}

  {{> Body}}

  {{! Face}}

  {{#right_side}}

  {{> Wheel}}

  {{> Gear}}

  {{/right_side}}
  
  {{#left_side}}

  {{> Wheel}}

  {{> Gear}}

  {{/left_side}}

</robot>