  <link name="{{dir}}GearIndicator">
    <visual>
      <geometry>
        <box size="{{indicator_dimensions}}"/>
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
        <mass value=".0000" />
        <inertia ixx="0.000000" ixy="0.0" ixz="0.0" iyy="0.000000" iyz="0.0" izz="0.000000"/>
    </inertial>
  </link>
  <joint name="indicatorTo{{dir}}Gear" type="fixed">
    <origin xyz="0 {{gear_rad}} 0"/>
    <parent link="{{dir}}Gear"/>
    <child link="{{dir}}GearIndicator"/>
  </joint>